.input_div {
    width: var( --input-width);
    margin: var(--input-div-padding) 0;
    height: var(--input-div-height);
}
.input_title {
    font-size: var(--input-font);
    line-height: var(--input-font-height);
    font-weight: var(--fw-700);
    text-align: left;
    padding: 0 0 5px 0;
}
.input {
    height: var(--input-field-height);
    width: 100%;
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    padding: 0 15px;
    background-color: #fff;
    color: var(--main-color);
}
.error {
    font-size: 10px;
    color: rgb(251, 92, 92);
    line-height: 15px;
    padding: 5px  0 0 0;
    text-align: left;
}

@media(max-width: 1200px) {
    .input {
        border: var(--button-border) !important;
    }
}