.thankyou_div {
    margin: 130px 5% 80px 5%;
}

.thankyou_div .image_div img{
    width: 75%;
    height: auto
}
.thankyou_div .image_div {
    position: relative;
}
.thankyou_div .image_div .thank_title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    font-weight: var(--fw-700);
}
.thankyou_div .image_div .thank_description {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--main-sub-title2);
    line-height: 24px;
    text-align: center;
    width: 100%;
    font-weight: var(--fw-600);
}
.thankyou_div .buttonDiv {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 130px;
    padding: 10px 15px;
}
@media(min-width: 768px) and (max-width: 1000px) {
    .thankyou_div .image_div .thank_description {
        bottom: 17%
    }
    .thankyou_div .buttonDiv {
        bottom: 6%
    }
    .thankyou_div .image_div img{
        width: 100%;
        height: 650px;
        object-fit: cover;
    }
}
@media(max-width: 700px) {
    .thankyou_div  {
        margin: 200px 0 100px 0
    }
    .thankyou_div .image_div img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }   
    .thankyou_div .image_div .thank_title {
        line-height: 30px;
        font-size: 24px !important;
    } 
    .thankyou_div .image_div .thank_description {
        bottom: 17%
    }
    .thankyou_div .buttonDiv {
        bottom: 6%
    }
}
@media(min-width: 1601px) {
    .thankyou_div {
        margin: 180px 0 150px 0;
    }
}