* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
:root {
    --banner-top-padding: 140px;
    --header-height: 110px;
    --banner-bottom-padding: 60px;
    --banner-margin-top: 40px;
    --banner-title-font-size: 100px;
    --banner-description-font-size: 22px;
    --banner-description-line-height:35px;
    --banner-sub-title-font-size: 26px;
    --button-text: 16px;
    --button-padding: 20px 50px;
    --main-color: #131313;
    --orange-color: #FC7942;
    --background-color: #f4f4f4;
    --white-bg: #fff;
    --button-border: 2px solid #131313;
    --line-border: 2px solid #131313;
    --button-color: #131313;
    --button-hover-color: #FC7942;
    --button-border-radius: 7px;
    --button-font-weight: 500;
    --menu-element-font: 16px;
    --menu-element-line-height: 24px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --box-shadow: 4px 4px 0px #131313;
    --box-shadow-none: 0px 0px 0px #131313;
    --menu-margin: 0 20px; 
    --button-width: 140px;
    --primary-button-width: 200px;
    --secondary-button-width: 180px;
    --navbar-bg-transparent: transparent;
    --font-family: "Roboto", sans-serif !important;
    --banner-description-padding: 30px;
    --button-padding: 15px 40px;
    --bgYellow: #F5DB6E;
    --bgSkyblue: #B3DDF0;
    --section-spacing: 85px;
    --mob_title: none;
    --laptop_title: block;
    --main_title: 60px;
    --main_title_height: 70px;
    --div-left-padding: 50px;
    --sub-title-padding: 20px 0 0px 0;
    --sub-title: 26px;
    --sub-title-line-height: 36px;
    --ul-padding: 10px 0px;
    --approach: 20px;
    --li-padding: 20px 0 0 0;
    --revolution-ul: 50px 0 30px 0;
    --revolution-li: 30px 0;
    --revolution-title: 40px;
    --revolution-title-height: 50px;
    --revolution-sub-title: 16px;
    --revolution-sub-title-height: 24px;
    --brand-card-title: 24px;
    --brand-card-title-padding: 0 0 20px 0;
    --brand-card-text-padding: 0 0 20px 0;
    --brand-card-title-height: 34px;
    --brand-card-padding: 30px 20px;
    --footer-title: 24px;
    --footer-title-height: 34px;
    --lap-view: block;
    --mobile-view: none;
    --normal-text: 16px;
    --brand-card-height: 340px;
    --brand-title-height: 90px;
    --brand-div-title: 42px;
    --brand-div-title-height: 50px;
    --brand-div-inner-section-padding: 20px 0;
    --brand-div-button-margin: 30px;
    --brand-div-padding-top: 110px;
    --brand-div-margin-top: 130px;
    --input-width: 100%;
    --input-div-padding: 25px 0;
    --input-font: 16px;
    --input-font-height: 24px;
    --input-div-height: 90px;
    --input-field-height: 60px;
    --contact-title: 40px;
    --main-sub-title:40px;
    --main-sub-title2:20px;
    --store-title:34px;
    --padding-section-top: 85px;
    --padding-section-bottom: 85px;
    /* --brand-card-subtitle: 16px */
  }
  @media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }
}
@media(min-width: 1401px) {
 .col-md-6,.col-md-4,.col-md-3,.col-md-12,.col-lg-6,.col-lg-4,.col-lg-3,.col-xl-6,.col-xl-4,.col-xl-3, .row{
    padding: 0 0px !important;
 }
 .row {
    padding: 0 15px;
 }
 }
 @media(min-width: 1201px) and (max-width: 1400px) {
    
 }
@media (min-width: 1600px) {
    :root {
        --banner-top-padding: 130px;
        --banner-bottom-padding: 130px;
        --banner-title-font-size: 120px;
        --section-spacing: 120px;
        --main_title: 66px;
    --main_title_height: 76px;
    --banner-description-font-size: 28px;
    --banner-description-line-height:40px;
    --approach: 22px;
    --brand-card-padding: 50px 20px;
    --brand-card-height: 330px;
    --brand-div-title: 55px;
    --brand-div-title-height: 65px;
    --store-title:40px;
    --banner-margin-top: 50px;
    }
    .row {
        padding: 0 10px !important;
    }
}
@media(min-width: 768px) and (max-width: 1000px) {
    :root {
        --banner-title-font-size: 60px;
        --brand-card-title: 20px;
        --brand-card-title-padding: 0 0 20px 0;
        --brand-card-title-height: 28px;
        --brand-card-padding: 20px 12px;
        --main_title: 34px;
        --main_title_height: 44px;
        --div-left-padding: 0px;
        --revolution-title: 26px;
        --revolution-title-height: 36px;
        --brand-div-title: 30px;
    --brand-div-title-height: 40px;
    --main-sub-title:30px;
    --main-sub-title2:18px;
    }
}
@media(min-width: 1001px) and (max-width: 1200px) {
    :root {
        --banner-title-font-size: 65px;
        --brand-card-title: 20px;
        --brand-card-title-padding: 0 0 20px 0;
        --brand-card-title-height: 28px;
        --brand-card-padding: 20px 12px;
        --main_title: 40px;
        --main_title_height: 50px;
        --div-left-padding: 0px;
        --revolution-title: 26px;
        --revolution-title-height: 36px;
        --brand-div-margin-top:70px;
        --brand-div-title: 35px;
    --brand-div-title-height: 45px;

    }
}
@media (max-width: 750px) {
    .row {
        padding: 0 0.5rem !important;
    }
    :root {
        --banner-top-padding: 120px;
        --banner-bottom-padding: 90px;
        --banner-title-font-size: 40px;
        --primary-button-width: 150px;
        --button-padding: 10px 15px;
        --secondary-button-width: 160px;
        --banner-description-font-size: 20px;
        --mobile_icon_div: 30px;
        --mob_title: block;
        --laptop_title: none;
        --section-spacing: 80px;
        --main_title: 30px;
        --revolution-title: 20px;
        --revolution-title-height: 30px;
        --brand-card-title-height: 34px;
        --brand-card-padding: 30px 20px;
        --lap-view: none;
        --mobile-view: block;
        --brand-card-height: 320px;
        --brand-div-margin-top: 70px;
        --div-left-padding: 0;
        --brand-div-inner-section-padding: 15px 0 10px 0;
        --main-sub-title:24px;
        --main-sub-title2:18px;
        --store-title:30px;
    }
    .col-md-6, .col-md-4, .col-sm-12 {
        padding: 0 5px!important
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1140px;
    }
}