.privacy_section {
    padding: 150px 0 0px 0;
    text-align: left;
}
.privacy h6 {
    line-height: 25px;;
}
.privacy .buttonDiv p {
    padding: 0;
    text-align: center;
}
.privacy p {
    padding: 15px 0;
}
.privacy ul {
    list-style-type: disc;
    padding-inline-start: 20px;;
}
.privacy .footer_section {
    text-align: center;
}